<html>
  <head>
    <title>Final Design Demonstration</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" id="bootstrap-css">
    <style type="text/css">
      .demo-title {
        margin-bottom: 0 !important;
        font-size: 30px;
      }
      .demo-img {
        margin: 50px auto;
      }
    </style>
  </head>
  <body>
  	<div class="container" style="text-align: center;">
	    <h1 style="margin-top: 50px; margin-bottom: 50px;">Final Design Demonstration</h1>
      <div class="row">
        <div class="col-6">
          <p class="demo-title">Final Design</p>
          <p class="demo-title" style="display: none;">Alternative Design</p>
          <img src="{{ url_for('video_feed') }}" id="final-model" class="demo-img">
          <img src="{{ url_for('video_feed_alpha') }}" id="alpha-model" class="demo-img" style="display: none;">
	  <button id="change-model" class="btn btn-outline-primary">Change Model</button>
        </div>
        <div class="col-6">
          <p class="demo-title">Canny Algorithm</p>
          <img src="{{ url_for('video_feed_canny') }}" class="demo-img">
        </div>
      </div>
    </div>
  </body>
  <script
      src="https://code.jquery.com/jquery-3.3.1.js"
      integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
      crossorigin="anonymous"></script>
  <script type="text/javascript">
    $('#change-model').click(function(){
      $(this).parent().find('img').toggle();
      $(this).parent().find('p').toggle();
    });
  </script>
</html>
